html {
    font-family: Be Vietnam;
    font-size: 16px;
    line-height: 1.25;
}

body {
    margin: 0;
    padding: 0;
    background: url(../images/bg_tablet_pattern.svg), url(../images/illustration_intro.svg);
    background-repeat: no-repeat, no-repeat;
    background-position-x: 65px, 12px;
    background-position-y: -20px, 113px;
    background-size: 100%, 90%;
    background-blend-mode: overlay;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body > header {
    margin-left: 16px;
    margin-right: 16px;
}

p {
    line-height: 30px;
    color: hsl(227, 12%, 61%);
}

.section__features, .section__testimonials {
    // text-align: center;
    margin-left: 16px;
    margin-right: 16px;
}



@media (min-width: 768px) {
    body {
        background: url(../images/bg_tablet_pattern.svg), rgba(0, 0, 0, 0.001);
        background-repeat: no-repeat, no-repeat;
        background-position-x: 770px, 650px;
        background-position-y: -240px, 235px;
        background-size: 65%, 45%;
    }

    main {
        background: url(../images/illustration_intro.svg);
        background-repeat: no-repeat;
        background-position-x: 715px;
        background-position-y: 145px;
        background-size: 40%;
    }
}

@media (min-width: 1114px) {
    .section__features,  {
    padding-inline-start: 8rem;
    padding-inline-end: 4rem;
    margin-left: 0;
    margin-right: 0;
    }
}