
body > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    border-radius: 0 0 85% 85% / 10%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media (min-width: 992px) {
    body > header, main > header {
        padding-inline-start:4rem;
        padding-inline-end: 6rem;
    }
}