body > header {
    
}
body > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    border-radius: 0 0 85% 85% / 10%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

main > header {
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 120px;
}

@media (min-width: 768px) {
    main > header {
    text-align: left;
}
}
@media (min-width: 992px) {
    body > header, main > header {
        padding-inline-start: 8rem;
        padding-inline-end: 4rem;
        margin-left: 0;
        margin-right: 0;
    }
}