
.section__testimonials {
    text-align: center;
}

.section__testimonials h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    color: hsl(228, 39%, 23%);
}

.testimonials__list {
    margin-top: 6rem;
}

.testimonials__item {
    background-color: hsl(0, 0%, 98%);
    border-radius: 5px;
}