@import url("https://fonts.googleapis.com/css?family=Be Vietnam:300,400,500,bold&display=swap");
html {
  font-family: Be Vietnam;
  font-size: 16px;
  line-height: 1.25; }

body {
  margin: 0;
  padding: 0;
  background: url(../images/bg_tablet_pattern.svg), url(../images/illustration_intro.svg);
  background-repeat: no-repeat, no-repeat;
  background-position-x: 65px, 12px;
  background-position-y: -20px, 113px;
  background-size: 100%, 90%;
  background-blend-mode: overlay; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

body > header {
  margin-left: 16px;
  margin-right: 16px; }

p {
  line-height: 30px;
  color: #9095a7; }

.section__features, .section__testimonials {
  margin-left: 16px;
  margin-right: 16px; }

@media (min-width: 768px) {
  body {
    background: url(../images/bg_tablet_pattern.svg), rgba(0, 0, 0, 0.001);
    background-repeat: no-repeat, no-repeat;
    background-position-x: 770px, 650px;
    background-position-y: -240px, 235px;
    background-size: 65%, 45%; }
  main {
    background: url(../images/illustration_intro.svg);
    background-repeat: no-repeat;
    background-position-x: 715px;
    background-position-y: 145px;
    background-size: 40%; } }

@media (min-width: 1114px) {
  .section__features {
    padding-inline-start: 8rem;
    padding-inline-end: 4rem;
    margin-left: 0;
    margin-right: 0; } }

body > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  border-radius: 0 0 85% 85% / 10%;
  margin-top: 1rem;
  margin-bottom: 1rem; }

main > header {
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 120px; }

@media (min-width: 768px) {
  main > header {
    text-align: left; } }

@media (min-width: 992px) {
  body > header, main > header {
    padding-inline-start: 8rem;
    padding-inline-end: 4rem;
    margin-left: 0;
    margin-right: 0; } }

.navigation {
  position: absolute;
  z-index: 3;
  right: 0;
  bottom: 0;
  height: auto;
  display: none;
  width: 100%;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
  transition: transform 1s;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.25)); }

.navigation__list {
  list-style: none;
  padding: 0;
  text-align: center;
  position: relative;
  width: 90%;
  margin: auto;
  background-color: white;
  border: 0;
  box-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px; }

.navigation__link {
  font-style: normal;
  font-weight: bold;
  background-image: none;
  line-height: 1.25rem;
  padding: 1rem .5rem;
  background-image: none;
  line-height: 1.25rem;
  background-position: 1rem 50%;
  text-decoration: none;
  display: block;
  color: #242D52; }

.navigation__item:last-child a {
  padding-inline-end: 0; }

.open_menu:checked ~ .navigation {
  transform: translateY(15%);
  top: 20px;
  display: block; }

.open_menu:checked ~ label {
  z-index: 2;
  right: 0;
  height: 25px;
  width: 25px;
  background-image: url(../images/icon_close.svg); }

.navigation label {
  width: 250px;
  display: block;
  height: 30px; }

.open_menu {
  display: none; }

.navigation > label, body > header > label {
  width: 25px;
  height: 25px;
  background-size: 28px;
  background-repeat: no-repeat;
  position: relative; }

body > header > label {
  background-image: url(../images/icon_menu.svg); }

.navigation > label {
  margin-left: auto; }

.navigation > label {
  transition: rotate 1s; }

.navigation > label:hover {
  background-color: red;
  border-radius: 50%;
  rotate: 360deg; }

.navigation__body {
  display: none; }

.body__get--started a {
  text-decoration: none;
  padding: .8rem 2rem;
  background-color: #f25f3a;
  border-radius: 100px;
  color: white; }

@media (min-width: 600px) {
  body > header label {
    display: none; }
  .navigation {
    display: block;
    padding: 0;
    background-image: unset;
    left: 0;
    right: 0;
    bottom: auto;
    max-width: 95%;
    min-width: 95%;
    height: auto;
    box-shadow: none;
    transform: none;
    transition: none;
    margin: auto; }
  .navigation label {
    display: none; }
  .navigation__list {
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    max-width: unset;
    min-width: unset;
    width: unset;
    margin: unset;
    position: unset;
    top: unset;
    background-color: unset;
    border-radius: unset;
    box-shadow: unset; }
  .open_menu:checked ~ .navigation {
    top: 20px;
    display: block; }
  .navigation__item {
    border: unset; } }

@media (min-width: 768px) {
  .navigation__list {
    flex-direction: row;
    display: flex;
    justify-content: center; }
  .navigation__body {
    display: block; } }

.masthead {
  padding-block-start: 16rem; }

.heading {
  letter-spacing: normal;
  font-style: normal;
  color: #242d52;
  font-size: 30px;
  line-height: 60px; }

.masthead > ul {
  padding-block-start: 2rem; }

@media (min-width: 600px) {
  .masthead {
    padding-block-start: 133px; } }

@media (min-width: 768px) {
  .masthead {
    max-width: 550px; }
  .heading {
    font-size: 60px;
    line-height: 65px; } }

.section__features {
  margin-right: 0; }

.section__features > header {
  text-align: center; }

.section__features > header, .features__item p {
  margin-right: 1rem; }

.section__features h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  color: #242d52; }

.features__list {
  margin-top: 64px; }

.features__item {
  margin-bottom: 2rem;
  align-items: center;
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: auto auto; }

.features__item button {
  font-weight: 700;
  color: white;
  padding: 12px 24px;
  z-index: 2;
  border: none;
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  background-color: #f25f3a; }

.features__item h3 {
  font-size: 16px;
  z-index: 1;
  color: #242d52;
  background: #ffefeb;
  margin-left: -16px;
  z-index: 1;
  padding-left: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
  letter-spacing: -1px; }

.features__item p {
  grid-column: 1/ 3; }

@media (min-width: 1114px) {
  .section__features {
    display: grid;
    grid-template-columns: 330px 1fr; }
  .section__features > header {
    text-align: unset; }
  .section__features > header, .features__item p {
    margin-right: unset; }
  .features__list {
    margin-top: unset; }
  .features__item {
    max-width: 60%;
    margin-left: auto; }
  .features__item h3 {
    background: unset; }
  .features__item p {
    grid-column: 2/ 3; } }

.section__testimonials {
  text-align: center; }

.section__testimonials h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  color: #242d52; }

.testimonials__list {
  margin-top: 6rem; }

.testimonials__item {
  width: 326px;
  margin: auto;
  margin-bottom: 1rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
  background-color: #fafafa;
  border-radius: 5px; }

.anisha::before {
  content: '';
  position: absolute;
  background: url(../images/avatar_anisha.png);
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -110%); }

.ali::before {
  content: '';
  position: absolute;
  background: url(../images/avatar_ali.png);
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -110%); }

.richard::before {
  content: '';
  position: absolute;
  background: url(../images/avatar_richard.png);
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -110%); }

.shanai::before {
  content: '';
  position: absolute;
  background: url(../images/avatar_shanai.png);
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -110%); }

@media (min-width: 1114px) {
  .testimonials__list {
    display: flex;
    flex-direction: row; }
  .section__testimonials {
    margin: unset; } }
